<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>HTML Contacts</h1>
    <p>
        Thank you for reaching out
        about my HTML project!
    </p>
    <p>
        If you have any questions,
        you can reach out to us
        via email at htmlproject@htmlproject.com
    </p>
    <h2>Address</h2>
    <div>12345 Worldwide Web Road</div>
    <div>San Francisco, CA 94107</div>
    <h2>Phone</h2>
    <div>(415)888-8888
    </div>
</main>
<footer>
    <div>Copyright 2022 by me!</div>
</footer>
